body {
   background-image: url('colibri.png'); 
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    color: white;
}
h2 {
  color: rgb(141, 48, 48);
}
h5 .parrafo {
  font-family: sans-serif;
}
.contenedor {
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 30px;
  border: 3px darkorange;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
div {
    animation: girar 23s infinite linear;
}